@media screen and (min-device-width:1200px)
              and (max-device-width: 1600px)   {
                body {
                  background-color: #DCDCDC;
                }
}
html {
  height: 100%;
}
.name {
  text-align: center;
  font-size: 100px;
  color: white;
}
ul {
  list-style-type: none;
  font-style: oblique;
}
li {
font-size: 50px;
font-weight: bold;
}
.landing {
  background-image: url("../images/image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.about {
  background-image: url("../images/image7.jpg");
  background-size: cover;
}
.project {
  background-image: url("../images/image7.jpg");
  background-size: cover;
}
.column1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 50%;
  float: left;
}
.column2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 50%;
  float: right;
}
.me {
  text-align: center;
  font-size: 60px;
  color: blue;
}
p {
  font-style: italic;
}
.column3 {
  float: right;
  width: 50%;
  text-align: center;
  padding-top: 300px;
}
.column4 {
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 300px;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  position: sticky;
}
